#n_johnny {
  margin-top: 4rem;
  box-shadow: 1px 1px 1px #333;
  width: 100%; }
  #n_johnny .n_clarence {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_philip {
    box-shadow: 1px 1px 1px #333;
    display: flex;
    flex-direction: column; }
  #n_johnny .n_edna {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_tiffany {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_tony {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_rosa {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_jimmy {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_earl {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_cindy {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_antonio {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_luis {
    box-shadow: 1px 1px 1px #333; }
  #n_johnny .n_mike {
    box-shadow: 1px 1px 1px #333; }

@media all and (min-width: 320px) {
  #n_johnny .n_tiffany {
    padding: 1rem;
    margin: 1rem; }
  #n_johnny .n_tony {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center; }
  #n_johnny .n_jimmy {
    display: flex;
    justify-content: center;
    text-transform: uppercase; }
  #n_johnny .n_cindy {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center; }
  #n_johnny .n_danny {
    width: 50%; }
    #n_johnny .n_danny img {
      width: 100%; }
  #n_johnny .n_luis {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #n_johnny .n_norman {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0; }
    #n_johnny .n_norman .title {
      font-weight: 700;
      color: #666666;
      padding-right: 0.5rem;
      width: 50%;
      text-align: right; }
    #n_johnny .n_norman .value {
      color: #999999;
      padding-left: 0.5rem;
      width: 50%; }
  #n_johnny .n_edith {
    background-image: url(../../img/map.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24rem; }
  #n_johnny .n_sherry {
    display: flex;
    justify-content: center; }
    #n_johnny .n_sherry span {
      font-size: 3rem;
      font-weight: 700;
      color: #4d4d4d; }
  #n_johnny .n_josephine {
    padding: 0.5rem 0; }
    #n_johnny .n_josephine .photo {
      float: right; }
    #n_johnny .n_josephine .name {
      color: #4d4d4d;
      font-weight: 700;
      font-size: 2rem; }
    #n_johnny .n_josephine img {
      width: 6rem; }
    #n_johnny .n_josephine a {
      text-decoration: none; }
  #n_johnny .n_allen {
    background-color: #f2f2f2; }
    #n_johnny .n_allen .add-note {
      text-align: right; }
      #n_johnny .n_allen .add-note button {
        border-radius: 0.4rem;
        border: 0; }
  #n_johnny .n_thelma {
    background-color: #fff;
    box-shadow: 1px 1px 1px #333;
    padding: 1rem 0;
    margin: 0.5rem 0 2rem; }
    #n_johnny .n_thelma .recipients-block {
      font-size: 1rem;
      color: #999999; }
      #n_johnny .n_thelma .recipients-block span:first-child {
        font-weight: 600; }
    #n_johnny .n_thelma .note-attachments {
      color: gray;
      text-align: right; }
      #n_johnny .n_thelma .note-attachments i {
        padding-right: 1rem; }
    #n_johnny .n_thelma .note-text {
      padding: 1rem 0 0; }
    #n_johnny .n_thelma .n_sheila {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem; }
      #n_johnny .n_thelma .n_sheila button {
        background-color: #666666;
        border-radius: 0.4rem;
        padding: 0.5rem;
        min-width: 6rem;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        border: 0; }
    #n_johnny .n_thelma .n_ethel .note-author {
      font-size: 1.6rem;
      font-weight: 700; }
    #n_johnny .n_thelma .n_ethel .note-date-time {
      color: #999999; }
    #n_johnny .n_thelma .n_marjorie {
      display: flex;
      justify-content: flex-start; }
      #n_johnny .n_thelma .n_marjorie button {
        font-family: 'Open Sans', sans-serif;
        margin-right: 0.6rem;
        padding: 0.5rem;
        border-radius: 0.4rem;
        border: 0;
        font-size: 1rem; }
        #n_johnny .n_thelma .n_marjorie button i {
          padding-right: 0.5rem; } }

/*# sourceMappingURL=dash.css.map */
