@import '_variables';
//=========================================
//      USAGE
//=========================================    

//=========================================
//      VARIABLES
//=========================================

//=========================================
//      IMPORTS
//=========================================

//=========================================
//      MIXINS
//=========================================




//=========================================
//      GLOBAL STYLES
//=========================================

    *, *:before, *:after { box-sizing: border-box; }

    body {
        // display: flex;
        // justify-content: flex-end;
        color: black;
    }





    .itemC {
        background:#ccc;
        height: 100px;
        width:90%;
        margin:0 auto;
        text-align:center;
        border: 3px solid red;

        #owl-example1 & {
            background:tomato;
        }

    }








//=========================================
//      SECTION A
//=========================================

//=========================================
//      SECTION B
//=========================================
    

//=========================================
//      MEDIA QUERIES
//=========================================


    @media screen and (max-width: 400px) {

        
    }