$mercury: #e7e7e7;
$dove-gray: #666666;
$silver-chalice: #A6A6A6;
$dusty-gray: #999999;
// Blues
$venice-blue: #054877;
$venice-blue-rgba: rgba(5, 72, 119, 0.5);
$cerulean: #00ACE6;

// Reds
$sunset-orange: #ff5050;

