@import '_variables';

// Section: INTRO
#n_russell {
	display: flex;
	// border: 3px solid red;
	flex-direction: column;
    align-items: center;
}

.n_victor {
	// border: 3px solid orange;
	max-width: 120rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
    justify-content: center;
}

.n_shawn {
	// border: 5px solid green;
	// width: 50rem;
	// max-width: 50rem;
    flex: auto;
    // width: 50rem;
    flex: 1 0 30rem;
    margin-bottom: 3rem;
    img {
    	width: 100%;
    }

    &:not(.map) {
    	// border: 3px dashed red;
    	padding: 0 2rem;
    }

    &.quote {
    	position: relative;
    	 &:before {
    	 	position: absolute;
    	 	top: -3rem;
    	 	left: 0rem;
	    	content:"\201D";
	    	font-size: 8rem;
	    	font-family: 'Times New Roman', serif;
	    	color: $sunset-orange;
	    	font-weight: bold;

	    }
	    .n_chris {
	    	padding-left: 2rem;
	    }
    }
}

.n_lois {
	// padding: 1rem 10rem;
	width: 10rem;
	height: 0.5rem;
	background-color: red;
	margin-top: -1rem;
}

//-------------------
// Quote
//-------------------
	.n_chris {
		font-style: italic;
	    font-weight: bold;
	    font-size: 2rem;
	    color: $dove-gray;
	    // color: $cerulean;
	   
	}

	.n_tina {
		color: $sunset-orange;
		margin-top: 1rem;
		text-align: right;
		font-weight: bold;
	}

//========================================================	

// Section: Benefits of NRS
#n_bonnie {
	// border: 5px solid blue;
	display: flex;
	justify-content: center;
    flex-direction: column;

    h1, h2 {
    	text-align: center;
    }
	
	
}

.n_ruby {
	// border: 5px solid pink;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.n_bobby {
	color: $dove-gray;


}

//