//=========================================
//      VARIABLES
//=========================================

//=========================================
//      MIXINS
//=========================================



//=========================================
//      DEBUG
//=========================================




//=========================================
//      CONTACT US - GLOBAL STYLES
//=========================================



    /* The Modal (background) */
    .cu-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .cu-modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .cu-close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .cu-close:hover,
    .cu-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .cu-carol {
        font-family: sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }

    .cu-edward {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .cu-david {
        flex: auto;    
    }

//========================================
//      CONTACT US - COMPANY TILES
//========================================

    .cu-anthony {
        // background-color: #f2f2f2;
    }

    .cu-barbara {
        // background:#FFF;
        // width:70%;
        // height:200px;
        background:#FFF;
        // margin:40px auto;
        margin: 5px auto;
        border: 1px solid #f2f2f2;

        .cu-betty {
            text-align:center;
            position:relative;
            // top:80px;
        }
    }

    .cu-brian {
        display: flex;
        justify-content: center;
    }
    .cu-john {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    // ====== SHADOW EFFECTS ============

        // .effect2, .effect3, .effect4 {
        //     position: relative;
        // }

        // // shadows
        // .effect2 {

        //     &:before, &:after {
        //         z-index: -1;
        //         position: absolute;
        //         content: "";
        //         bottom: 15px;
        //         left: 10px;
        //         width: 50%;
        //         top: 80%;
        //         max-width:300px;
        //         background: #777;
        //         box-shadow: 0 15px 10px #777;
        //         transform: rotate(-3deg);
        //     }
        //     &:after {
        //         transform: rotate(3deg);
        //         right: 10px;
        //         left: auto;
        //     }
        // }



        // .effect3:before {
        //     z-index: -1;
        //     position: absolute;
        //     content: "";
        //     bottom: 15px;
        //     left: 10px;
        //     width: 50%;
        //     top: 80%;
        //     max-width:300px;
        //     background: #777;
        //     box-shadow: 0 15px 10px #777;
        //     transform: rotate(-3deg);
        // }


        // .effect4:after {
        //     z-index: -1;
        //     position: absolute;
        //     content: "";
        //     bottom: 15px;
        //     right: 10px;
        //     left: auto;
        //     width: 50%;
        //     top: 80%;
        //     max-width:300px;
        //     background: #777;
        //     box-shadow: 0 15px 10px #777;
        //     transform: rotate(3deg);
        // }

//========================================
//     CONTACT US MODAL
//========================================   
    
    .cu-daniel {
        display: flex;
        flex-direction: row;
    }

    .cu-david {
        display: flex;
        justify-content: center;
        flex: auto;
    }


//=========================================
//      SECTION A
//=========================================

//=========================================
//      SECTION B
//=========================================
    

//=========================================
//      MEDIA QUERIES
//=========================================


    @media screen and (max-width: 853px) {
        .cu-daniel {
            flex-wrap: wrap;
        }
    }

